[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "misPRIME"]
	path = misPRIME
	url = https://github.com/cran/misPRIME
[submodule "visaOTR"]
	path = visaOTR
	url = https://github.com/cran/visaOTR
